# autogen
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h.in
/config.h.in~
/configure
/configure~
/m4/

# configure
Makefile
/config.h
/config.log
/config.status
.deps/
/stamp-h1

# make
*.gen/
*.gen.*
*.o
.dirstamp
/XSki
/src/bski
/src/fake-xterm/ski-fake-xterm
/src/gski
/src/ski
/src/xski
/ski-bootloader/ski-bootloader