# autogen
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h.in
/config.h.in~
/configure
/configure~
/m4/

# configure
Makefile
/config.h
/config.log
/config.status
/libtool
.deps/
/stamp-h1

# make
*.gen/
*.gen.*
*.o
*.la
*.lo
.dirstamp
.libs/
/XSki
/src/bski
/src/fake-xterm/ski-fake-xterm
/src/gski
/src/ski
/src/xski
/src/eparse.c
/src/eparse.h
/src/escan.c
/src/ski_elf.h
