Source: ski
Priority: optional
Maintainer: Al Stone <ahs3@debian.org>
Standards-Version: 3.6.2
Build-Depends: debhelper, autoconf, autogen, automake1.9, libtool, bison, flex, gawk, gperf, libelfg0-dev, libncurses5-dev, chrpath, sharutils, libltdl3-dev

Package: ski
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, less
Description: ia64 instruction simulator
 Ski is an instruction simulator designed to execute and test ia64
 code on non-ia64 machines.  This is CPU simulator only; there is
 no machine simulator (for all the stuff beyond the CPU such as the
 PCI bus or random IO devices).

Package: libski-dev
Section: devel
Architecture: any
Depends: ski
Description: Development files for the ski ia64 instruction simulator
 Ski is an instruction simulator designed to execute and test ia64
 code on non-ia64 machines.  This is CPU simulator only; there is
 no machine simulator (for all the stuff beyond the CPU such as the
 PCI bus or random IO devices).
 .
 This package contains the run-time libraries and the header files
 needed to use ski to run ia64 executables.

