#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

CFLAGS = -Wall

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -fno-strict-aliasing
else
	CFLAGS += -O2 -fno-strict-aliasing
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	./autogen.sh --prefix=/usr --with-x --disable-hp-internal \
	             --with-gnu-ld --mandir=/usr/share/man
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	SED=sed $(MAKE)
	touch build-stamp

test: test-stamp
test-stamp: build-stamp 
	dh_testdir
	-(cd testsuite; qmtest run -C context)
	touch test-stamp

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	rm -f build-stamp configure-stamp stamp-h1 test-stamp
	rm -f install-sh missing mkinstalldirs depcomp
	rm -f ski.spec ski-config ski.spec ski-config
	rm -f Makefile Makefile.in
	rm -f aclocal.m4 config.guess config.log config.status
	rm -f ltmain.sh libtool
	rm -f src/elf_em.h src/Makefile src/Makefile.in
	rm -f src/bski src/xski src/bski src/xski
	rm -f libltdl/Makefile libltdl/Makefile.in libltdl/config.log
	rm -f libltdl/config.status libltdl/stamp-h libltdl/configure.in
	rm -f libltdl/stamp-h1
	rm -f XSki XSki src/decoder/decode_tree.c src/encoder/encode_table.c
	rm -rf autom4te.cache
	rm -f debian/ski.init
	find . -name .deps -exec {} \;
	find . -name .lib -exec {} \;
	( cd doc; \
	  if [ -f ski-manual-v1.0.pdf ]; then \
	     uuencode ski-manual-v1.0.pdf ski-manual-v1.0.pdf >  \
	              ski-manual-v1.0.pdf.uu ; \
	     rm -f ski-manual-v1.0.pdf ; \
	  fi ; \
	)
	dh_clean

install: build test
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# the destdir gets set in the config step, no need to here
	DESTDIR=$(CURDIR)/debian/ski SED=sed $(MAKE) install
	# clean up from some stupid things automake does
	mv debian/ski/usr/share/man/manm/ski.man \
	   debian/ski/usr/share/man/man1/ski.1
	rm -rf debian/ski/usr/share/man/manm
	# make sure the man pages install properly
	dh_link usr/share/man/man1/ski.1.gz usr/share/man/man1/bski.1.gz
	dh_link usr/share/man/man1/ski.1.gz usr/share/man/man1/xski.1.gz
	dh_link usr/share/man/man1/ski.1.gz usr/share/man/man1/ski-config.1.gz
	# make sure the links for the executable are in place
	dh_link usr/bin/ski usr/bin/bski
	dh_link usr/bin/ski usr/bin/xski
	# delete the rpath inserted by libtool
	# move the X components to the proper Debian place
	mv debian/ski/usr/lib/X11/app-defaults/XSki \
	   debian/ski/etc/X11/app-defaults/XSki
	rm -rf debian/ski/usr/lib/X11
	# add in the stuff needed to register bski as an interpreter for
	# ia64 executables, but only for the non-ia64 versions
	( if  test `uname -m` != "ia64" ; then \
	     dh_link usr/share/man/man1/ski.1.gz usr/share/man/man1/bski.1.gz ; \
	     install -m 755 misc/bski debian/ski/usr/bin ; \
	     install -m 755 misc/ia64fmt debian/ski.init ; \
	  fi )
	# create the stuff needed for the libski-dev package
	dh_install --sourcedir=debian/ski
	rm -rf debian/ski/usr/include debian/ski/usr/lib

# Build architecture-independent files here.
binary-indep: build install
	uudecode -o doc/ski-manual-v1.0.pdf doc/ski-manual-v1.0.pdf.uu

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
	( if [ `uname -m` != "ia64" ]; then dh_installinit; fi )
	dh_installman
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
